<div class="dashboardcenter">
    <h2 class="dashboard-title">Dashboard</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-3 dash-item">
                <a routerLink="/admin/screenList" class="dashboardbox_item">
                    <div class="dash-block">
                        <img src="assets/image/video-book.png" alt>
                        Screens</div>
                </a>
            </div>
            <div class="col-md-3 dash-item">
                <a routerLink="/admin/currencyList" class="dashboardbox_item">
                    <div class="dash-block">
                        <img src="assets/image/callback-book.png" alt>
                        Currency</div>
                </a>
            </div>

            <div class="col-md-3 dash-item">
                <a routerLink="/admin/imageGallery" class="dashboardbox_item">
                    <div class="dash-block">
                        <img src="assets/image/branches.png" alt>
                        Image Library</div>
                </a>
            </div>
            <div class="col-md-3 dash-item">
                <a routerLink="/admin/stats" class="dashboardbox_item">
                    <div class="dash-block">
                        <img src="assets/image/video-avail.png" alt>
                        Statistics</div>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- <button (click)='RedirectToScreen()' >GetScreens</button> -->