<div class="wrap2 adduser">
  <div class="container">
    <div class="col-md-12">
      <div class="back-close" *ngIf="redirectType!=0">
        <span class="back-icon1">
          <a  routerLink="/admin/userlist">
            <svg aria-hidden="true" data-prefix="far" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x">
              <path fill="currentColor" d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z"
                class=""></path>
            </svg>
          </a></span>
        <span class="close-icon"><a routerLink="/admin/userlist"><img src="assets/image/close.png"></a></span>
      </div>
    </div>
    <div class="col-md-12">
      <h2 class="dashboard-title" *ngIf="redirectType!=0 && updateparamId == 0">Add User</h2>
      <h2 class="dashboard-title" *ngIf="redirectType!=0 && updateparamId != 0">Edit User</h2>
      <h2 class="dashboard-title" *ngIf="redirectType==0  && updateparamId != 0">User Profile</h2>
    </div>

    <div class="row form1">
      <div class="col-md-12">

        <form (ngSubmit)="AddUsers()" novalidate #custForm='ngForm'>
          <div class="form-group row">
            <span class="text-success" *ngIf="errorMessagedisplay">{{errorMessage}}</span>
          </div>
          <div class="form-group row">
            <label for="inputname" class="col-sm-4 col-form-label"> First Name:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="firstName" [ngModel]="firstName" maxlength="100" name="firstName"
                required aria-describedby="nameHelp" placeholder="Enter first name" />
              <!--   
                            <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['firstName'].valid && custForm.controls['firstName'].touched">Branch
                               First name is required</p> -->
            </div>
          </div>

          <div class="form-group row">
            <label for="inputcontact" class="col-sm-4 col-form-label">Last Name:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="lastName" [ngModel]="lastName" name="lastName" required
                aria-describedby="nameHelp" placeholder="Enter last name" />
              <!-- <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['lastName'].valid && custForm.controls['lastName'].touched">
                                Last Name is required</p> -->
            </div>
          </div>

          <div class="form-group row">
            <label for="inputcontact" class="col-sm-4 col-form-label">Contact Number:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="ContactNumber" [ngModel]="ContactNumber" maxlength="50" name="ContactNumber"
                aria-describedby="nameHelp" placeholder="Enter contact number" />
              <!-- <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['ContactNumber'].valid && custForm.controls['ContactNumber'].touched">Contact
                              number is required</p> -->
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="email" maxlength="100" [ngModel]="email" name="email"
                required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Enter Email" />
              <!-- <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['email'].valid && custForm.controls['email'].touched">
                              Email is required</p> -->
            </div>
          </div>

          <div class="form-group row" *ngIf="userrole=='admin' && redirectType!=0">
            <label for="email" class="col-sm-4 col-form-label">Role:</label>
            <div class="col-sm-6">
              <select class="form-control" id="UserRole" [ngModel]="UserRole" name="UserRole">
                <option value="0">Please Select</option>
                <option *ngFor="let userRole of userRoleList" value="{{userRole.UserRoleId}}">{{userRole.Role}}</option>
              </select>
              <!-- <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['UserRole'].valid && custForm.controls['UserRole'].touched">
                            Role is required</p> -->


            </div>
          </div>

          <div class="form-group row" *ngIf="updateparamId>0">
            <label for="email" class="col-sm-4 col-form-label">
              <a href="javascript:void(0)" (click)="showPasswordSetting=!showPasswordSetting" *ngIf="updateparamId>0">
                Change Password
              </a>
            </label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="firstName" value="*********" maxlength="100" readonly
                aria-describedby="nameHelp" placeholder="Password" />


            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">


            </div>
          </div>

          <div *ngIf="showPasswordSetting" class="form-group row">
            <label for="password" class="col-sm-4 col-form-label">New Password:</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="Password" maxlength="100" [ngModel]="Password" name="Password"
                required placeholder="Enter Password" />
              <!-- <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['Password'].valid && custForm.controls['Password'].touched">
                             Password is required</p> -->
            </div>
          </div>

          <div *ngIf="showPasswordSetting" class="form-group row">
            <label for="password" class="col-sm-4 col-form-label">Confirm Password:</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="ConfirmPassword" maxlength="100" [ngModel]="ConfirmPassword"
                name="ConfirmPassword" placeholder="Enter Confirm Password" />
              <!-- <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['ConfirmPassword'].valid && custForm.controls['ConfirmPassword'].touched">
                Confirm Password is required</p> -->
              <!-- <p class="col-sm-offset-3 help-block error" *ngIf="!custForm.controls['ConfirmPassword'].error && custForm.controls['ConfirmPassword'].value != custForm.controls['Password'].value">
                              Password MisMatch</p> -->
            </div>
          </div>


          <div class="form-group row submit-btn">
            <label for="inputEmail" class="col-sm-12 col-form-label">&nbsp;</label>
            <div class="col-sm-12">

              <button type="submit" class="btn btn-primary sb-btn" [disabled]="!custForm.valid">
                {{actionName}}</button>
              <a class="btn btn-primary " href="javascript:history.go(-1)">
                Cancel
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>