<div class="wrap2">
  <div class="container">
    <div class="col-md-12">
      <div class="back-close">
        <span class="back-icon1"><a href="/admin/userlist">
            <svg aria-hidden="true" data-prefix="far" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x">
              <path fill="currentColor" d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z"
                class=""></path>
            </svg>
          </a></span>
        <span class="close-icon"><a href="/admin/userlist"><img src="assets/image/close.png"></a></span>
      </div>
      <h2 class="dashboard-title">User Details</h2>

      <div class="row form1 user-view">
        <div class="col-md-12">

          <div class="form-group row">
            <label for="inputname" class="col-sm-4 col-form-label"> First Name:</label>
            <div class="col-sm-6 pull-left col-form-label grey-font form-control input-lable">
              {{firstName}}
            </div>
          </div>

          <div class="form-group row">
            <label for="inputcontact" class="col-sm-4 col-form-label pull-left">Last Name:</label>
            <div class="col-sm-6 pull-left col-form-label grey-font form-control input-lable">
              {{lastName}}
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label pull-left">Contact Number:</label>
            <div class="col-sm-6 pull-left col-form-label grey-font form-control input-lable">
              {{contactNumber}}
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label pull-left">Email:</label>
            <div class="col-sm-6 pull-left col-form-label grey-font form-control input-lable">
              {{email}}
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label pull-left">Role:</label>
            <div class="col-sm-6 pull-left col-form-label grey-font form-control input-lable">
              {{Role}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>