<div class="dashboardcenter">
    <h2 class="dashboard-title">Image Gallery</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-2 dash-item">
                <div class="fileUpload btn_height btn btn-primary">
                    <span><span class="fa fa-upload"></span> Upload Image</span>
                    <input type="file" id="bgImage" name="bgImage" accept="image/*" (change)="fileChange($event)"
                        [(ngModel)]="bgImage" value="Upload" class="upload" />
                </div>
            </div>
            <div class="col-md-3">
                <button class="btn btn-danger" style="margin-top: 7px;" (click)="DeleteImages()"><span class="far fa-trash-alt"></span> Delete Selected Images</button>
            </div>
            <div class="col-md-3  ">
                <span class="text-success" *ngIf="errorMessagedisplay">{{errorMessage}}</span>
            </div>

            <pagination id="pagination" [maxSize]="16" [totalItems]="totalItems" (pageChanged)="pageChanged($event)"></pagination>



           <div class="gallery" id="links lightgallery">
                   <a  class="gallery-item  thumbnail fancybox" rel="ligthbox"  [routerLink]="item.small"  data-gallery *ngFor="let item of galleryImagesListPaged">
                                <div class="image">                              
                                    <img class="imageZoom" [src]="item.small">                                        
                                    <ul class="gallery-item-controls">
                                        <li>
                  <input type="checkbox"  (click)="setValueInArray(item)" name="checkbox1" class="checkSelected" id={{item.Id}} />
              </li>
                                                                           </ul>                         
                                </div>
                                  </a>
            </div>
        </div>
    </div>
</div>