/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    z-index: 999;
    background: -webkit-linear-gradient(148deg, #f6a132 22%, #f7ce00 78%);
	background: -moz-linear-gradient(148deg, #f6a132 22%, #f7ce00 78%);
	background: -o-linear-gradient(148deg, #f6a132 22%, #f7ce00 78%);
	background: -ms-linear-gradient(148deg, #f6a132 22%, #f7ce00 78%);
	background: linear-gradient(-58deg, #f6a132 22%, #f7ce00 78%);
	box-shadow: 1px 5px 21.75px 7.25px rgba(14, 14, 14, 0.28);
    color: #fff;
    transition: all 0.3s ease-in-out;
    overflow-y: scroll;
	visibility: hidden;
    /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);*/
    /*border-left: 15px solid #f4a040;*/
    /*border-top: 7px solid #f4a040;*/ 
}

#sidebar ul.components > li {margin-bottom:3px;}

#sidebar.active {
	visibility: visible;
    right: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: static;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {

}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 16px;
    display: block;
    font-family: 'HelveticaNeueLTStd-Bd';
    color: #fff;
    background: #eb2452;
}
#sidebar ul li a:hover {
    color: #eb2452;
    background: #ffffff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #eb2452;
    background: #ffffff;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[data-toggle="collapse"]::before {
    content: '+';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'HelveticaNeueLTStd-Bd';
    font-size:20px;
    top:4px;
}
a[aria-expanded="true"]::before {
    content: '-';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
  }

.bot-content-menu {float: left; width: 100%; text-align: center; padding-bottom: 30px;}
.bot-content-menu {}
.bot-content-menu strong{font-size:20px; font-weight: normal; font-family:'HelveticaNeueLTStd-Bd';}
.bot-content-menu p {font-size: 16px; color: #fff;}
.btn-req-call {font-size:16px; padding:10px 25px; font-family:'HelveticaNeueLTStd-Bd';}

/*desktop menu hide css*/
@media only screen and (max-width: 991px) {
.navbar-toggle {display: none;}
.nav-toggle {display: none;}
.navbar-btn {display: block;margin-top: 18px; margin-right: 10px;right: 10px;z-index: 2;border: none;outline: none;background: none;float: right;}
.navbar-btn .icon-bar { background: #a3a3a4; height: 2px; clear: both; width: 22px; float: left; margin-top: 4px; }
.navbar-btn:hover, .navbar-btn:focus, .navbar-btn:active{background: none !important; box-shadow: none; border: none;}
.btn-close {background: url(../images/btn-close.png) no-repeat; width: 33px; height: 33px; display: inline-block;}
.bottom_header { display: none;}
}

@media only screen and (min-width: 992px) {
.navbar-btn {display: none;}
}