<div class="wrap3">
  <div class="container">
    <div class="col-md-12">
      <div class="back-close">
        <span class="back-icon1"><a routerLink="/admin/dashboard">
            <svg aria-hidden="true" data-prefix="far" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x">
              <path fill="currentColor" d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z"
                class=""></path>
            </svg>
          </a></span>
        <span class="close-icon"><a routerLink="/admin/dashboard"><img src="assets/image/close.png"></a></span>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="administer-section">
          <h3>{{title}}</h3>
        </div>
        <a class="btn btn-primary sb-btn" routerLink="/admin/addcurrency">Add Currency</a>
        <div class="clearfix"></div>
        <div class="table-responsive table-bordered admin-table">
          <table class="table admin-table">
            <thead>
              <tr class="admin-table-head">
                <th>Id</th>
                <th>Currency</th>
                <th>Code</th>
                <th>Currency Symbol</th>
                <th>Upload Flag Graphic</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let currency of returnedCurrency" class="white-row">
                <td>{{currency.Id}}</td>
                <td>{{currency.CurrencyName}}</td>                
                <td>{{currency.CurrencyCode}}</td>
                <td>{{currency.CurrencySymbol}}</td>
                <td><img src='{{currency.ImageUrl}}'/></td>
                <td>
                  <!-- <a class="" routerLink="/admin/viewbooking/{{ScreenType}}/{screen.Id}}">View</a> -->
                  <!-- | -->
                  <a class="" routerLink="/admin/addcurrency/{{currency.Id}}">Edit</a>
                  | <a class="" href="javascript:void(0)" (click)="DeleteCurrency(currency.Id)">Delete</a>
                </td>
              </tr>
              <!--/.row-->
            </tbody>
          </table>
        </div>
        <div class="next-prev">
          <pagination [maxSize]="10" [totalItems]="totalItems" (pageChanged)="pageChanged($event)"></pagination>
        </div>

      </div>

    </div>
  </div>

</div>