<div class="wrap3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="administer-section">
          <h3>
            Administrator
          </h3>
        </div>
        <div class="administer-btn pull-left">
          <ul>
            <li><a routerLink="/admin/adduser" class="view">Add User</a></li>
          </ul>
        </div>

        <div class="table-responsive table-bordered admin-table">
          <table class="table admin-table">
            <thead>
              <tr class="admin-table-head">
                <th>Admin Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of returneduserlist" class="white-row">
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td> {{user.Role}}</td>
                <td>
                  <a class="" routerLink="/admin/userdetail/{{user.UserId}}">View</a>
                  |<a class="" routerLink="/admin/adduser/{{user.UserId}}">Edit</a>
                  |<a class="" href="javascript:void(0)" (click)="DeleteUsers(user.UserId)">Delete</a>
                </td>
              </tr>
              <!--/.row-->
            </tbody>
          </table>
        </div>
      </div>
      <div class="next-prev">
        <pagination [maxSize]="10" [totalItems]="totalItems" (pageChanged)="pageChanged($event)"></pagination>
      </div>


    </div>
  </div>

</div>