/* You can add global styles to this file, and also import other style files */

/* @import "node_modules/bootstrap/dist/css/bootstrap.min.css"; */
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.7em;
    height: 100%;
    width: 100%;
}
img {
    max-width: 100%;
}
.clear {
    clear: both;
}
.img-resp {
    width: 100%;
}
.wrap1 {
    margin: 0 auto;
    background: #f3f3f3;
    box-shadow: 2px 2px 5px #cecece
}
.logo {
    float: left;
    padding: 100000px 0;
}
.icon-active {
    padding: 10px 0;
}
.icon {
    padding: 10px 0;
}
.logo img {
    width: 180px;
    padding-top: 9px;
}
.main-nav li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}
.main-nav li a i {
    color: #000;
    font-size: 36px;
}
.main-nav li a i:hover,
.main-nav li a i:active {
    color: #00a885;
}
.setting-inside {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 58px;
    border-radius: 5px;
    padding-left: 0;
}
.setting-inside li {
    background: #fafafa;
    list-style-type: none;
    padding: 12px 65px 12px 30px;
    float: none;
    margin-left: 0;
}
.setting-inside li a {
    list-style-type: none;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.setting-inside li a:hover {
    text-decoration: none;
    color: #000;
}
.setting-inside .active {
    background-color: #00a885;
}
.setting-inside .active a {
    color: rgb(255, 255, 255);
}
.setting-inside .set-btn {
    background: #fafafa;
}
#BranchId:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #000000;
    right: 11px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 1px solid #000000;
    position: absolute;
    pointer-events: none;
}
/**/

p {
    margin-bottom: 0;
}
.wrap2 {
    text-align: center;
    padding: 50px 0 50px 0;
}
.form1 {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 50px;
    padding: 50px;
    padding-top: 0;
}
.form1 img {
    width: 200px;
}
.form-title {
    color: #000000;
    padding: 0px 0 45px;
    font-size: 33px;
    padding-bottom: 50px;
}
.form-title-text {
    color: #000000;
    padding-top: 30px;
    line-height: 18px;
}
.login-form {
    padding-top: 50px !important;
}
.login-form-title {
   color: #000;
    font-size: 27px;
    text-transform: lowercase;
    font-weight: 700;
    padding-bottom: 0;
}
.login-form h5 {
color: #000;
    padding: 0px 0 28px;
    line-height: 18px;
    font-size: 20px;
    font-weight: 900;
    font-family: HelveticaNeueLTProTh;
}
    .file1 {display: block !important;}
    .file2 {margin-right: 73px;}
.form-head h5 {
    color: #000000;
    padding: 0px 0 45px;
    font-size: 33px;
    padding-bottom: 50px;

}
 .login-btn {    width: 130px;
    height: 48px;}
form {
    /* max-width: 535px; */
    margin: 0 auto;
    /* padding-top: 50px; */
}
.form-control {
    box-shadow: 2px 2px 5px #ececec;
}
form label {
    font-size: 17px ;
    color: #000000;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    padding-top: 0 !important;
    padding-bottom: 0px !important;
}
form input {
    border-radius: 0 !important;
    /* margin-left: 10px; */
    text-align: left;
    padding: 3px 6px !important;
}
.calender label {
    text-align: center;
    padding-bottom: 20px !important;
}
.conditions label {
    text-align: justify;
    padding-left: 30px !important;
}
.branch label {
    padding-top: calc(.375rem + 1px) !important;
}
.branch select {
    border-radius: 0!important;
    padding: 6px;
    height: 32px;
}
/* form .form-group{
   margin-bottom: 40px;
} */

.form-check {
    text-align: left;
}
.form-check-label {
    padding-left: 0;
}
.form1 .form-check-input[type="checkbox"] {
    display: none;
}
.form1 .form_checkbox label {
    cursor: pointer;
    display: block;
    font-size: 14px;
    left: 0;
    line-height: 22px;
    padding-left: 20px;
    position: relative;
}
.form1 .form_checkbox input[type="checkbox"] + label::before {
    /* background-image: url(../images/check2.png); */
    background-repeat: no-repeat;
    color: #000000;
    content: "\f096";
    display: inline-block;
    font-family: fontawesome;
    font-size: 18px;
    left: 0;
    position: absolute;
}
.form1 .form_checkbox input[type="checkbox"]:checked + label::before {
    color: #2c82c9;
    ;
    content: "\f046";
}
.sb-btn {
    margin: 0 7px;
}
.submit-btn {
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
}
.login-form .form-title {
    color: #000000;
    font-size: 27px;
    text-transform: lowercase;
    font-weight: bold;
}
.login-form img {
    margin-bottom: 30px;
}
.login-form .form-title-text {
    color: #000000;
    padding-top: 13px;
    line-height: 18px;
}
.login-btn {
    padding: 6px 40px;
}
.btn-primary {
    color: #fff;
    background-color: #2c82c9;
    border-color: #2c82c9;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2c82c9;
    border-color: #2c82c9;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2c82c9;
    border-color: #2c82c9;
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #116ebb;
    border-color: #116ebb;
}
.wrap3 {
    text-align: center;
    padding: 50px 0;
}
.wrap3 .col-md-12 {
    padding: 0;
}
.table {
    font-size: 14px;
    margin-bottom: 0px;
}
.table-bordered thead td,
.table-bordered thead th {
    vertical-align: middle;
}
.table a {
    color: #2c82c9;
    text-decoration: none;
    font-weight: 600;
}
.dark-row {
    background: #fff;
}
.light-row {
    background: #f5f5f5;
}
.admin-table-head {
    background: #00a885;
    color: #fff;
}
.administer-section {
    margin: 0 auto;
}
.administer-section a {
    font-weight: 600;
    color: #2c82c9;
}
.administer-section h3 {
    font-size: 33px;
    color: #000;
}
.administer-btn {
    float: right;
}
.administer-btn ul li {
    list-style: none;
    float: left;
    text-decoration: none;
    margin-left: 30px;
}
.administer-btn ul li a:hover {
    text-decoration: none;
    color: #2c82c9;
    font-weight: bold;
}
.export {
    background: #f5f5f5;
    color: #2c82c9;
    padding: 8px 45px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    font-weight: 600;
}
.administer-btn {
    height: 90px;
    padding-top: 50px;
    margin-top: 10px;
}
.view {
    background: #f5f5f5;
    color: #2c82c9;
    padding: 8px 45px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    font-weight: 600;
}
.add {
    background: #2c82c9;
    color: #ffffff;
    padding: 8px 45px;
    border-radius: 5px;
    border: 1px solid #2c82c9;
    font-weight: 600;
}
.add:hover {
    color: #fff !important;
}
.dashboardbox {
    background: #e6e6e6;
    color: #000000;
    padding: 60px 45px;
    border-radius: 5px;
    border: 1px solid #efefef;
    margin-right: 10px;
}
.dashboardcenter {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.error {
    color: red;
    text-align: left;
}
.margin-right-10 {
    margin-right: 10px;
}
.timeactive {
    color: #82cc4a;
}
.administer-search {
    float: left;
}
.administer-search ul {
    padding: 0;
}
.administer-search ul li:first-child {
    margin-left: 0;
}
.table-bordered td {
    text-align: left;
}
.pagination .disabled {
    color: #595959;
    font-weight: 600;
     cursor: not-allowed;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
     background-color: #fff;
    border-color: #ddd;
}
.pagination > li > a, .pagination > li > span {
    margin-left: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #656D78;
    border-color: #E5E5E5;
}
.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background-color: #00a885;
    border-color: #00a885;
}
.pagination-next a {
    color: #2c82c9 !important;
}
.branchname > tr >td:first-child {
    font-weight: 600;
}
tbody > tr >td:first-child {
    font-weight: 600;
}
.dropdown-content-set,
.dropdown-content-bar {
    display: none;
}
/* .icon-active:hover .dropdown-content{
    display: block;
}

.icon-active:hover .dropdown-content{
    display: block;
} */

.nav-right {
    float: right;
}
.radio-check {
    padding-left: 4.25rem !important;
}
.btn-sm {
    float: right;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}
.time-block {
    width: 25%;
    margin: 0 5px;
    border: 1px solid #616161;
}
#allSlot {
    width: 30%;
    border: 1px solid #616161;
}
#avail .form-group {
    height: 45px;
    margin: 17px 0;
}
.timeslot {
    margin: 25px 0 !important;
}
.hourbox {
    width: 40%;
    float: left;
    margin: 0 5px;
    border: 1px solid #616161;
}
.minbox {
    width: 40%;
    float: right;
    margin: 0;
    border: 1px solid #616161;
}
.timebox {
    width: 30%;
    border: 1px solid #616161;
}
.radio-check1 {
    padding-left: 0 !important;
}
.icon-active:hover .dropdown-content-set {
    display: block;
}
.icon-active:hover .dropdown-content-bar {
    display: block;
}
.bg-green {
    background-color: #00a885;
}
.bg-lightgrey {
    background-color: #eeeeee;
}
.datelist {
    padding: 0;
    padding-top: 50px;
    margin-bottom: 0;
}
.datelist ul {
    padding: 0;
    margin-bottom: 0;
}
.datelist ul li {
    list-style-type: none;
    float: left;
    text-decoration: none;
    margin-left: 30px;
}
.datelist ul li:first-child {
    margin-left: 0;
}
.float-right {
    float: right;
}
.customer-table {
    margin-top: 20px;
}
textarea.form-control {
    height: 135px;
    width: 350px;
    border-radius: 0;
}
.theme-green .bs-datepicker-head {
    background-color: #00a885;
}
.screen-icon,
.call-icon {
    background-color: #eeeeee;
    padding: 70px 0;
}
.screen-icon i,
.call-icon i {
    font-size: 200px;
}
.button-section {
    background-color: #eeeeee;
    margin-top: 20px;
    padding: 70px 80px;
}
.button-section h4 {
    font-weight: bold;
    text-transform: lowercase;
    font-size: 26px;
}
.mort-app .form1 .form-title {
    margin: 50px 0 10px 0;
}
.button-section p {
    margin: 20px 0 20px 0;
}
.mort-app .left-section {
    width: 80%;
    display: block;
    float: right;
}
.mort-app .right-section {
    width: 80%;
    display: block;
    float: left;
}
.thank-page {
    padding: 50px 0;
}
.thank-form {
    background-color: #f3f3f3;
}
.thank-page .form-title {
    text-transform: capitalize;
}
.show-branch label {
    padding-top: 0;
}
.thank-page .form-head h5 {
    padding-bottom: 28px;
}
.thank-page .form-group {
    margin-bottom: 30px;
}
.bg-lightgrey:focus {
    background-color: #00a885;
    color: white;
}
.back-icon1 {
    position: absolute;
    z-index: 1;
    top: 7px;
    left: -32px;
    width: 5%;
}
.back-icon2 {
    position: absolute;
    z-index: 1;
    top: 7px;
    left: -18px;
    width: 5%;
}
.cust-view label,
.viewbook label,
.user-view label {
    text-align: right;
}
.pull-left {
    text-align: left;
}
.set-form input {
    margin-left: 0;
}
.grey-font {
    color: #808080;
}
.reason-check {
    padding-left: 0;
}
.reason-check select {
    width: 100%;
    border-radius: 0;
}
.avail-left {
    float: left;
    padding-top: 20px;
    height: 70px;
}
.avail-left ul {
    padding-left: 0;
}
.avail-left ul li {
    margin-right: 30px;
    margin-left: 0;
}
.timeactive {
    color: #00a885;
}
/* .book-search{
       display: inline-block;
   } */

/* .search-form{
    display: none;
   } */

.book-datelist {
    display: flex;
}
.search-container {
    margin-right: 20px;
}
.book-search form input {
    padding: 5px 0px 5px 3px !important;
}
.book-search form input:focus {
    outline: none;
}
.book-search form button:focus {
    outline: none;
}
.book-search form button {
    background-color: #00a885;
    padding: 7px 15px;
    border: none;
    color: white;
}
.customer-search {
    padding-top: 50px;
    float: right;
    display: none;
}
.customer-search form input {
    padding: 5px 0px 5px 3px !important;
}
.customer-search form input:focus {
    outline: none;
}
.customer-search form button:focus {
    outline: none;
}
.customer-search form button {
    background-color: #00a885;
    padding: 7px 15px;
    border: none;
    color: white;
}
@media screen and (max-width: 1024px) {
    .mort-app .left-section,
    .mort-app .right-section {
        width: 100%;
    }
    .dash-block {
        min-height: 221px;
    }
    .datelist.pull-left {
        float: right;
        padding-top: 15px;
        margin-left: 30px;
    }
    .administer-btn {
        height: 65px;
        padding-top: 15px;
        margin-top: 10px;
    }
    .back-icon1 {
        left: -27px;
    }
    .avail-left {
        float: right;
    }
    .avail-left ul li {
        margin-left: 19px;
        margin-right: 0;
    }
    .export {
        padding: 8px 41px;
    }
}
@media screen and (max-width: 768px) {
    .form-title {
        line-height: 35px;
    }
    .administer-btn ul li {
        margin-left: 20px;
    }
    .view {
        padding: 8px 28px;
    }
    .dash-block {
        min-height: 240px;
    }
    .back-icon1 {
        left: -21px;
    }
    .form1 {
        padding: 50px 0px;
    }
    .export {
        padding: 8px 20px;
    }
}
@media screen and (max-width: 500px) {
    .main-nav li {
        margin-left: 6px;
    }
    .sb-btn-wrp {
        text-align: center;
        margin-bottom: 50px;
    }
    .datelist li {
        width: 100%;
        margin-left: 0 !important;
    }
    .administer-btn {
        width: 100%;
    }
    .cust-view label,
    .viewbook label,
    .user-view label {
        text-align: left;
    }
    .branch label {
        text-align: left;
    }
    .form1 {
        padding: 50px 10px !important;
    }
    .thank-form .form-head h5 {
        line-height: 24px !important;
    }
    .book-datelist {
        display: block;
    }
    .book-search {
        display: block;
    }
    .book-search form input {
        width: 80%;
    }
    .book-search form button {
        width: 20%;
    }
    .search-container {
        margin-right: 0px;
    }
    .customer-search {
        padding-top: 0px;
        margin-bottom: 20px;
        float: none;
    }
    .customer-search form input {
        width: 80%;
    }
    .customer-search form button {
        width: 20%;
    }
}
@media screen and (max-width: 414px) {
    .form1 {
        padding: 0px 0px;
    }
    .back-icon {
        position: absolute;
        z-index: 1;
        top: -52px;
        left: 0px;
        width: 5%;
    }
    .close-icon {
        right: 35px;
    }
    .main-nav li {
        margin-left: 15px;
    }
    .dashboard-title {
        padding-top: 50px;
    }
    .dash-block {
        margin-bottom: 10px;
    }
    .branch .form-check {
        margin-left: 0 !important;
    }
    /* .view, .add, .export {
        padding: 8px 15px;
    }
    .administer-btn ul li {
        margin-left: 12px;
    } */
    .administer-btn {
        height: auto;
        float: none;
    }
    .administer-btn ul {
        padding-left: 0px !important;
    }
    .administer-btn ul li {
        float: none;
        margin-bottom: 30px;
        margin-left: 0px;
    }
    .administer-btn ul li a {
        display: inline-block;
        width: 100%;
    }
    form label {
        text-align: left;
        padding-left: 15px !important;
    }
    .btn-sm {
        float: left;
    }
    #avail .form-group {
        height: 80px;
        margin: 17px 0;
    }
    .radio-check1 {
        padding-left: 1.25em !important;
    }
    .radio-check {
        padding-left: 1.25em !important;
    }
    .thank-page label {
        display: block;
        text-align: center;
    }
    .login-btn {
        margin-left: -15px;
    }
    form input {
        margin-left: 0;
    }
    .dashboardcenter {
        padding-top: 0px;
    }
    .back-icon1 {
        top: 10px;
        left: 0px;
    }
    .wrap3 .col-md-12 {
        padding: 0 15px;
    }
    .datelist select,
    .datelist input {
        margin-bottom: 30px;
    }
    .administer-btn {
        padding-top: 0px;
    }
    .table {
        overflow: auto;
        white-space: nowrap;
    }
    .datelist.pull-left {
        margin-left: 0px;
        width: 100%;
    }
    .back-icon2 {
        left: 15px;
    }
    .export {
        padding: 8px 28px;
    }
    textarea.form-control {
        margin-left: 0px;
    }
    select#UserRole {
        margin-left: 0px;
    }
    .time-block {
        float: left;
    }
    #avail .col-sm-6,
    #avail .col-sm-4 {
        padding: 0;
    }
    .branch form label {
        padding-left: 0px !important;
    }
    .administer-section h3 {
        padding-bottom: 40px;
    }
    .customer-table {
        margin-top: 0px;
    }
    .setting {
        padding-top: 0;
    }
    .adduser .dashboard-title {
        padding-top: 0px;
    }
    .setting-inside li {
        margin-left: 0 !important;
    }
    .mort-app .form1 .form-title {
        padding-bottom: 0;
    }
    .mort-app .form1 .form-title-text {
        padding-top: 0;
    }
    .mort-app .left-section {
        margin-top: 50px;
    }
    .mort-app .right-section {
        margin-top: 20px;
    }
    .left-section .login-btn,
    .right-section .login-btn {
        margin: 0;
    }
    .left-section .login-btn,
    .right-section .sb-btn {
        margin: 0;
    }
}
@media screen and (max-width: 375px) {
    .main-nav li {
        margin-left: 6px;
    }
    textarea.form-control {
        width: 315px;
        margin-left: 0;
    }
    .button-section {
        padding: 70px 63px;
    }
}
@media screen and (max-width: 360px) {
    .logo img {
        width: 150px;
    }
    .main-nav li {
        margin-left: 10px;
    }
    textarea.form-control {
        width: 300px;
    }
}
@media screen and (max-width: 320px) {
    .main-nav li a i {
        color: #000;
        font-size: 29px;
    }
    .logo img {
        width: 130px;
    }
    textarea.form-control {
        width: 260px;
    }
}
.login-form {
    background: #fff;
}
.dash-item i{position: absolute;}
.dash-item i.fa-check-circle{ color:#007bff; }
.dash-item img{display: block;
    height: 62px ; 
     }
.admin-table {padding-top: 70px}
.dash-item {
    display: inline-grid;
    padding: 5px !important;
}
.modal-body input {   
    display: block;
    margin-left: 150px;}
.imageselected {display: block !important;}
.dash-block {
    padding: 50px 20px 40px 20px;
    background: #eeeeee;
    border-radius: 15px;
    text-transform: capitalize;
    text-decoration: none;
    /* border: 2px solid #2580cc; */
     min-height: 220px;
}
.dash-block img {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    height: 95px;
}
a.dashboardbox_item,
a.dashboardbox_item:focus,
a.dashboardbox_item:visited,
a.dashboardbox_item:hover {
    margin: 1px;
    font-size: 22px;
    color: #2c82c9;
    text-decoration: none;
    font-weight: bold;
}
.dashboard-title {
    font-size: 33px;
    padding-bottom: 40px;
}
.next-prev {
    margin-top: 30px;
}
.save-btn {
    margin: 0 10px !important;
}
.branch .form-check {
    padding-left: 0 !important;
}
.table td,
.table th {
    vertical-align: middle;
}
.table-bordered {
    border: none !important;
}
.back-icon {
    position: absolute;
    z-index: 1;
    top: -55px;
    left: -90px;
    width: 5%;
}
.close-icon {
    position: absolute;
    z-index: 1;
    top: -55px;
    width: 5%;
    right: -75px;
    display: none;
}
svg.svg-inline--fa.fa-w-14.fa-2x {
    width: 0.7em;
}
.bg-green {
    background: #00a885;
}
.btn-default {
    background: #eeeeee;
}
.list .back-icon {
    top: 0;
    left: 0;
}
.thank-page {
    padding: 50px 0;
}
.thank-form {
    background-color: #f3f3f3;
}
.thank-page .form-title {
    text-transform: capitalize;
}
.show-branch label {
    padding-top: 0;
}
.thank-page .form-head h5 {
    padding-bottom: 28px;
}
.thank-page .form-group {
    margin-bottom: 30px;
}
.bg-lightgrey:focus {
    background-color: #00a885;
    color: white;
}
.input-lable {
    box-shadow: none !important;
    background-color: #f7f7f7 !important;
    border: 0 !important;
    text-transform: capitalize;
}
.old-slot-date {
    padding: 6px 0px;
    background: #7fd3c2;
    font-size: 16px;
    color: #fff;
}
button.btn.btn-default.text-center.timeactive {
    background: #7fd3c2;
    border: 0;
    color: #fff;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.pull-right {
    float: right;
}
.ngx-gallery-arrow {
    color: #000000 !important;
}
/*----31-01-2019--*/
.head {
    padding-top: 0px;
}
.head h1 {
        color: #000;
    font-size: 64px;
    font-family: HelveticaNeueLTProTh;
    font-weight: 300;
}
.head p {
    padding-bottom: 50px;
    color: #000;
        font-size: 18px;
}
.bg5 {
    background-color: #f1f1f1;
    padding: 80px 15px 100px 36px;
    border-radius: 30px;
        height: 328px;
}
form select {
        padding: 11px 12px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    color: #ef2255;
    font-weight: bold;
        height: 46px !important;
}
.col-form-label {
    font-size: 20px;
}
#current {
    font-size: 35px;
}
form input {
   border-radius: 7px !important;
    width: 100%;
    text-align: left;
    padding: 11px 12px !important;
    border: 1px solid #dfdfdf;
    color: #ef2255;
    font-weight: bold;
}
.btn-blue {
    background-color: #ef2255;
    color: #fff;
      padding:7px 68px!important;
    position: absolute;
    border-radius: 6px !important;
      border: 3px solid #fff !important;
    left: 234px;
}
.bgblack {
    background-color:#ef2255;
    padding: 85px 15px 100px 36px;
    border-radius: 30px;
    color: #fff;
    height: 328px;
}
.contact {
    width: 100%;
    background-color: #f1436e;
    color: white;
   padding: 3px 13px;
    margin: 0px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 26px;
    text-align: center;
    font-weight: 600;
}
.contact1 {
    width: 100%;
    background-color: #ffffff;
    color: #ef2255;
    padding: 3px 13px;
    margin: 0px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 26px;
    text-align: center;
    font-weight: 600;
}
#input {
        position: relative;
    left: 19px;
    font-size: 21px;
    text-align: right;
}
@media screen and (max-width: 360px) {
    .head h1 {
        font-size: 35px;
    }
    .bg5 {
        padding: 55px 15px 100px 13px;
    }
    #input {
        left: 0px;
    }
}
@media screen and (max-width: 411px) {
    .head h1 {
        font-size: 35px;
    }
    #input {
        left: 0px;
    }
    .bgblack {
        padding: 14px 15px 40px 20px;
    }
}
@media screen and (max-width: 414px) {
    .head h1 {
        font-size: 35px;
    }
    #input {
        left: 0px;
    }
    .btn-blue {
        right: 12px
    }
}
.bg9 {
    background: #f2f2f2;
       height: -webkit-fill-available;}
.form2 {
            max-width: 55%;
    margin: 0 auto;
    border-radius: 50px;
    padding: 50px;
    padding-top: 0;
    height: 440px;
}
.form2 img {
       width: 200px;
}
.pink_b {
    height: 175px;
 }

.mat-raised-button{
    background-color: blue
}
.close {    top: 273px !important ; z-index: 9 !important; opacity: 3.75  !important;}
::placeholder {
  color: #ef2255;
  
}
.bold {font-weight: bold;}
/* .{
    float: right !important;
    top: 130px;
    right: 106px !important;
    position: relative;
} */
.btn-pink {
   background-color: #ef2255;
    color: #fff;
    padding: 7px 71px !important;
    position: absolute;
    border-radius: 6px !important;
    right: 105px;
   margin-bottom: 20px;
}
.btn-pink:hover {
  
    color: #fff;
   
}
.mt-20
{ margin-top: 200px; }
.mt-90 {padding-top: 174px;}

td img {width: 5%;}
.white-row:nth-child(2) {
  background-color: #f7f3f7;;
}
.white-row:nth-child(4) {
  background-color: #f7f3f7;;
}
.white-row:nth-child(6) {
  background-color: #f7f3f7;;
}
.white-row:nth-child(8) {
  background-color: #f7f3f7;;
}
.white-row:nth-child(10) {
  background-color: #f7f3f7;;
}
.white-row:nth-child(12) {
  background-color: #f7f3f7;;
}
.white-row:nth-child(14) {
  background-color: #f7f3f7;;
}
.white-row:nth-child(16) {
  background-color: #f7f3f7;;
}
.page-item.disabled .page-link {font-size: 14px;   }
.page-item.active .page-link {  height: 32px;}
.page-link {    padding: .4rem .60rem !important; }
.row6{    margin-top: 24px;}
.imageZoom {    width: 100%;
    height: 132px
}
 [_nghost-c4] {left: 0 !important;
    top: -93px !important;}  
    [_nghost-c5] {    z-index: 99;} 
    #lightgallery {      margin-top: 60px;
    position: relative;
    left: 70px;
    right: 0px;}
    #pagination{    position: relative;
    left: 192px;
    top: 15px;}
    .box{border: 1px solid;
            padding-left: 0px !important; 
    padding-right: 0px !important; 
           margin:5px;}    
.swiper-container {background: #fff;}
.btn_height {    margin-top: 2px}
.gallery img{width: 100%;}
.page-link {height: 32px;}
.gallery {
  float: left;
  width: 100%;
}
.gallery .gallery-item {
  float: left;
  width: 25%;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
}
.gallery .gallery-item .image {
  width: 100%;
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.gallery .gallery-item .image a {
  display: block;
}
.gallery .gallery-item .image:after,
.gallery .gallery-item .image:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 1;
}
.gallery .gallery-item .image:before {
  z-index: 2;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.gallery .gallery-item .image:hover:before {
  background: rgba(0, 0, 0, 0.3);
}
.gallery .gallery-item .image img {
  width: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.gallery .gallery-item .image .gallery-item-controls {
  position: absolute;
  right: -60px;
  top: 3px;
  display: block;
  list-style: none;
  padding: 0px;
  z-index: 2;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.gallery .gallery-item .image .gallery-item-controls li {
  float: left;
  list-style: none;
  background: #FFF;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 26px;
}
.gallery .gallery-item .image .gallery-item-controls li .check {
  margin: 4px 0px;
}
.gallery .gallery-item .image .gallery-item-controls li .icheckbox_minimal-grey {
  margin-right: 0px;
}
.gallery .gallery-item .image .gallery-item-controls li a,
.gallery .gallery-item .image .gallery-item-controls li span {
  font-size: 17px;
  color: #BBB;
}
.gallery .gallery-item .image .gallery-item-controls li a:hover,
.gallery .gallery-item .image .gallery-item-controls li span:hover {
  color: #656D78;
}
.gallery .gallery-item .image .gallery-item-controls li:first-child {
  -moz-border-radius: 0px 0px 0px 3px;
  -webkit-border-radius: 0px 0px 0px 3px;
  border-radius: 0px 0px 0px 3px;
}
.gallery .gallery-item .image .gallery-item-controls li:hover {
  background: #F5F5F5;
}
.gallery .gallery-item .meta {
  color: #656D78;
  margin-top: 5px;
  line-height: 16px;
  padding: 0px 5px;
}
.gallery .gallery-item .meta strong {
  display: block;
  font-weight: 600;
  font-size: 13px;
}
.gallery .gallery-item .meta span {
  display: block;
  color: #99a0aa;
}
.gallery .gallery-item:hover .image .gallery-item-controls {
  right: 3px;
}
.gallery .gallery-item.active .image {
  -moz-box-shadow: 0px 0px 6px 0px rgba(51, 65, 78, 0.8);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(51, 65, 78, 0.8);
  box-shadow: 0px 0px 6px 0px rgba(51, 65, 78, 0.8);
}
.gallery .gallery-item.active .image .gallery-item-controls {
  right: 3px;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}
.text-muted{font-style:italic; color:coral;}

/*.swiper-slide {
            background: green;
            background-repeat: no-repeat;
            background-position: left top;
           
            -webkit-animation-duration: 10s;
            animation-duration: 10s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }
         
         @-webkit-keyframes fadeInDown {
            0% {
               opacity: 0;
               -webkit-transform: translateY(-20px);
            }
            100% {
               opacity: 1;
               -webkit-transform: translateY(0);
            }
         }
         
         @keyframes fadeInDown {
            0% {
               opacity: 0;
               transform: translateY(-20px);
            }
            100% {
               opacity: 1;
               transform: translateY(0);
            }
         }
         
         .fadeInDown {
            -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
         }*/