<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Click And Close</h4>
        <button type="button" class="close" aria-label="Close" (click)="CloseModelWithLastValue()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="text" [(ngModel)]="term">
        <div *ngFor='let v of galleryImages|filter:term' class="col-md-3 dash-item">
            <img src='{{v.ImageUrl}}' id="{{v.Id}}" (click)="SelectedImage($event)"
                class="img-responsive {{SelectedImageView}}" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="CloseModelWithLastValue()">Close</button>
    </div>
</ng-template>

<div class="wrap2">
    <div class="container">
        <div class="col-md-12">
            <div class="back-close">
                <span class="back-icon1"><a routerLink="/admin/currencyList">
                        <svg aria-hidden="true" data-prefix="far" data-icon="arrow-left" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                            class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x">
                            <path fill="currentColor"
                                d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z"
                                class=""></path>
                        </svg>
                    </a></span>
                <span class="close-icon"><a routerLink="/admin/currencyList"><img
                            src="assets/image/close.png"></a></span>
            </div>

        </div>
        <div class="row form1">
            <div class="col-md-12">
                <div class="">
                    <p class="form-title">{{title}}</p>
                </div>


                <form (ngSubmit)="AddCurrency()" novalidate #custForm='ngForm'>
                    <div class="form-group row">
                        <span class="text-success" *ngIf="errorMessagedisplay">{{errorMessage}}</span>
                    </div>
                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label"> Currency Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Name1" [ngModel]="CurrencyName"
                                name="CurrencyName" required aria-describedby="nameHelp"
                                placeholder="Enter Currency Name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label"> Currency Description Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Name2" [ngModel]="CurrencyDescription"
                                name="CurrencyDescription" required aria-describedby="nameHelp"
                                placeholder="Enter Currency Description" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label"> Currency Code:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Name3" [ngModel]="CurrencyCode"
                                name="CurrencyCode" required aria-describedby="nameHelp"
                                placeholder="Enter Currency Code" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label"> Currency Symbol:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Name4" [ngModel]="CurrencySymbol"
                                name="CurrencySymbol" required aria-describedby="nameHelp"
                                placeholder="Enter Currency Symbol" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ImageId" class="col-sm-4 col-form-label">Currency Flag:</label>
                        <div class="col-sm-3">
                            <div class="fileUpload btn btn-primary">
                                <span>Select From Computer</span>
                                <input type="file" id="ImageId" name="ImageId" accept="image/*"
                                    (change)="fileChange($event)" class="upload" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="fileUpload btn btn-primary">
                                <a (click)="open(content)">Select From Image Gallery</a>
                            </div>
                        </div>
                        <div>
                            <img [(ngModel)]="ImageId" src={{SelectedImageSrc}} />
                        </div>
                    </div>

                    <div class="form-group row submit-btn">
                        <label for="Add" class="col-sm-12 col-form-label">&nbsp;</label>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary sb-btn">
                                Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>